@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content a {
  @apply text-blue-600 underline;
}
.markdown-content a:hover {
  @apply text-blue-800;
}

.markdown img {
  @apply block w-full h-auto object-contain mx-auto;
}

html:not(.dark) input[type="text"],
html:not(.dark) input[type="email"],
html:not(.dark) textarea {
  background-color: #FAFAFA; /* accent-1 */
  border: 1px solid #EAEAEA; /* accent-2 for a subtle border */
  padding: 0.5rem; /* give some padding */
  border-radius: 0.25rem; /* slightly rounded corners */
}
